@model WebApplication1.Areas.Admin.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<<<<<<< HEAD

=======
@{
      if (Session["loginSession"] == null)
      {
        Response.Redirect("/Admin/Login");
      }
}
>>>>>>> a4ed9d2e57552ad84e7939497b2cc58ea3bde2ed
<h2> Đây là trang Home Admin</h2>
<h2> @ViewBag.Text</h2>